include ../mixins/input.pug
include ../mixins/general-block.pug


mixin contact-section(text)
    div.contact-component
        +general-block([{tag: 'h2', text: 'Get In Touch', key: 'title'},
            {
                tag: 'p',
                text: text,
                key: 'description'
            }])
        form
            div.contact-init
                +input-block({type: 'text', label: 'First Name', placeholder: 'Your first name', id: 'firstName'})
                +input-block({type: 'text', label: 'Last Name', placeholder: 'Your last name', id: 'lastName'})
                +input-block({type: 'email', label: 'Email', placeholder: 'Your email address', id: 'email'})
                +input-block({type: 'tel', label: 'Phone Number', placeholder: '00 000000', id: 'tel'})
                +input-block({
                    type: 'textarea',
                    label: 'Message',
                    placeholder: 'Please enter your message here',
                    id: 'message'
                })
            button.btn-solid(type='submit', onclick='submitMessage(); return false;')= 'Submit'
            span.success-message Message successfully sent