include ../mixins/input.pug
include ../mixins/general-block.pug


mixin contact-section(text)
    div.contact-component
        +general-block([{tag: 'h2', text: 'Get In Touch', key: 'title'},
            {
                tag: 'p',
                text: text,
                key: 'description'
            }])
        form
            div.contact-init
                +input-block({type: 'text', label: 'First Name', placeholder: 'Your first name'})
                +input-block({type: 'text', label: 'Last Name', placeholder: 'Your last name'})
                +input-block({type: 'email', label: 'Email', placeholder: 'Your email address'})
                +input-block({type: 'tel', label: 'Phone Number', placeholder: '00 000000'})
                +input-block({type: 'textarea', label: 'Message', placeholder: 'Please enter your message here'})
            button.btn-solid(type='button')= 'Submit'

