extends ../layouts/default-layout.pug

block content
    main.wrapper
        //div.bubble
        //div.bubble-2
        section.container.coming-soon-sectiom
            h1.coming-soon
                span= 'Coming'
                span= 'Soon'
